/* bourbon documentation - http://bourbon.io/docs/ */
@import 'bourbon/bourbon';

body{
	font-family: "Avenir", "Helvetica Neue", sans-serif;
	color: #555;
	background-color: #fff;
	header{
		nav{

		}
	}
	article{

	}
	footer{

	}
}

